/* body {
background-color: pink;
} */
/*this changes the color of my website*/
.name{
  color: pink;

}

  .question{
    color: blue;
    border: 5px;
    border-color: pink;
  }
/* h1 {
color: yellow;
font-size: 1rem;
text-decoration: underline;
} */

/* h2 {
color: yellow;
font-size: 1rem;
text-decoration: underline;
} */

/* p {
color: yellow;
font-size: 1rem;
text-decoration: underline;
} */
