/* body {
background-color: pink;
} */
/*this changes the color of my website*/
.name{
  color: #E6A99E;

}

  .question{
    border-style: dashed;
    border-color: #E65A86;
    color: #5A9EE6;
    margin: 20% 50px 10px 20%;
    padding: 30px;
  }
/* h1 {
color: #FF96B8;
font-size: 1rem;
text-decoration: underline;
} */

/* h2 {
color: #FF96B8;
font-size: 1rem;
text-decoration: underline;
} */

/* p {
color: #FF96B8;
font-size: 1rem;
text-decoration: underline;
} */
